.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0,0,0,0);
  .container {
    padding: 0;
  }
  a {
    color: #fff;
    transition: 0.3s;
    text-decoration: none;
    white-space: nowrap;
  }
  &__container {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    padding: 0 15px;
  }
  &__number {
    font-size: 15px;
    font-weight: 700;
    position: relative;
    z-index: 2;
    &-link {
      &:hover {
        opacity: 0.8;
      }
    }
    &-icon {
      height: 30px;
      width: 30px;
      display: none;
    }
  }
  &__section {
    display: flex;
    align-items: center;
  }
}
.logo {
  position: relative;
  z-index: 2;
  &__link {
    display: block;
  }
  h1, h2 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    line-height: 110%;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }
}
.nav {
  padding: 0 20px;
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }
  &__item {
    &:not(:last-child) {
      padding-right: 30px;
    }
  }
  &__link {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    padding: 2px 0;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
    &:hover {
      opacity: 0.8;
    }
  }
  .scroll-link_active {
    border-color: #fff;
  }
}
.mobile-button {
  transition: .3s;
  width: 30px;
  height: 30px;
  display: none;
  position: relative;
  z-index: 2;
  margin-left: 20px;
  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 30px;
    left: 0;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    border-radius: 4px;
    background-color: #fff;
    transition: .3s;
    &:before,
    &:after {
      display: block;
      content: "";
      height: 4px;
      border-radius: 2px;
      width: 100%;
      background-color: #fff;
      position: absolute;
      transition: .3s;
      left: 0;
    }
    &:before {
      top: -10px;
    }
    &:after {
      bottom: -10px;
    }
  }
  &_active {
    span {
      background-color: transparent !important;
      &:before {
        transform: rotate(45deg);
        top: 0px;
      }
      &:after {
        transform: rotate(-45deg);
        bottom: 0px;
      }
    }
  }
}
.mobile-nav {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  top: 0;
  left: 0;
  padding-top: 60px;
  font-size: 20px;
  transform: translateY(-100%);
  transition: transform 0.3s;
  z-index: 2;
  &_active {
    transform: translateY(0%);
  }
  &__list {
    list-style: none;
    padding: 30px 0 40px 0;
    margin: 0;
    background-color: #000;
    position: relative;
    z-index: 2;
  }
  &__item {
    text-align: center;
  }
  &__link {
    display: block;
    padding: 10px;
  }
  &__close {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
.header__overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

@media all and(max-width: 992px) {
  .logo h2 {
    font-size: 18px;
  }
}
@media all and(max-width: 768px) {
  .header {
    background-color: #000;
    &__container {
      height: 60px;
      border-bottom: 1px solid rgb(117, 117, 117);
      background-color: #000;
    }
  }
  .nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  .mobile-button {
    display: block;
  }
  .logo h2 {
    display: none;
  }
  .header__number {
    font-size: 0;
    &-icon {
      display: block;
    }
  }
}
@media all and(max-width: 576px) {
  .logo {
    h1 {
      font-size: 24px;
    }
  }
  .mobile-nav__list {
    padding: 20px 0 25px 0;
  }
}
