.certificate.block(id='certificate')
  .container
    span.block__title Весь ассортимент проходит обязательную сертификацию, что гарантирует высочайшее качество каждого пальто
    .certificate__container
      .certificate__image
        .certificate__content
          img(data-src="img/certificate_1.jpg", alt="").lazy
      .certificate__image
        .certificate__content
          img(data-src="img/certificate_2.jpg", alt="").lazy