.credit.block(id='credit')
  span.background.filter.lazy(data-src="img/banners/home-banner.jpg")
  .container
    .credit__container
      span.credit__title Рассрочка ViVi Milano
      span.credit__sub-title Получите одобрение на рассрочку без переплат <br> и первого взноса, до 24 месяцев
      a(href="#popup2").popup_link.button_style1 Получить рассрочку
