.delivery.block.filter
  .container
    .delivery__container
      .delivery__title Курьерская доставка <br> по Москве, МО и всей России
      ul.delivery__list
        li.delivery__item Доставка нескольких моделей пальто на дом
        li.delivery__item Возможность примерки перед покупкой
        li.delivery__item В любое удобное для вас время - 7 дней в неделю
      a(href="#").delivery__button Заказать доставку с примеркой