.description.block
  .container
    span.block__title Что значит "Получить персональный промо-код"?
    .description__container
      .description-block
        .description-block__container
          img(data-src="img/icons/ico-discount.png", alt="").lazy
          p Персональный промо-код даёт скидку 50% для Вас ни на одну, а сразу на все модели пальто, которые есть на сайте. Промо-код действует в течение 7 дней.
      .description-block
        .description-block__container
          p Вы сможете примерить все пальто в нашем магазине и выбрать свой идеальный вариант.
          img(data-src="img/icons/ico-shop.png", alt="").lazy
      .description-block
        .description-block__container
          img(data-src="img/icons/ico-payment.png", alt="").lazy
          p Мы не берём предоплат. Оплата происходит только после примерки в нашем магазине.
    .description__warranty.warranty
      .warranty__title ГАРАНТИЯ 2 ГОДА
      .warranty__text
        p На все дизайнерские пальто, в том числе купленные по акции, распространяется гарантия 2 года. В рамках гарантийного срока <strong>в случае выявления брака мы осуществляем:</strong>
      .warranty__content
        .warranty__block
          img(data-src="img/icons/ico-needle.jpg", alt="").lazy.warranty__block-img
          span.warranty__block-title РЕМОНТ <br> В СОБСТВЕННОМ АТЕЛЬЕ
        .warranty__block
          img(data-src="img/icons/ico-return.png", alt="").lazy.warranty__block-img
          span.warranty__block-title ОБМЕН ИЗДЕЛИЙ
      span.warranty__post-text гарантия распространяется и на фурнитуру: <br> <strong>мы заменим её бесплатно!</strong>
