header.header
  .container
    .header__container
      .logo
        a(href="#").logo__link
          h1 ViVi Milano
          h2 Магазин дизайнерских пальто
      .nav
        ul.nav__list
          li.nav__item
            a(href="#").nav__link ДОСТАВКА
          li.nav__item
            a(href="#").nav__link ОТЗЫВЫ
          li.nav__item
            a(href="#").nav__link КОНТАКТЫ
      .header__section
        .header__number
          a(href="#").header__number-link +7 (495) 152-60-05
            img(src="img/icons/ico-phone.svg", alt="").header__number-icon
        a(href="#").mobile-button
          span
    span.header__overlay
    .mobile-nav.sl--scrollable
      span.mobile-nav__close
      ul.mobile-nav__list
        li.mobile-nav__item
          a(href="#").mobile-nav__link Рассрочка
        li.mobile-nav__item
          a(href="#").mobile-nav__link Доставка
        li.mobile-nav__item
          a(href="#").mobile-nav__link Отзывы
        li.mobile-nav__item
          a(href="#").mobile-nav__link Об акции
        li.mobile-nav__item
          a(href="#").mobile-nav__link Сертификаты качества
        li.mobile-nav__item
          a(href="#").mobile-nav__link Технологии и экологичность
        li.mobile-nav__item
          a(href="#").mobile-nav__link Видео о пальто
        li.mobile-nav__item
          a(href="#").mobile-nav__link Контакты
            