.home
  span.background.filter.lazy(data-src="img/banners/home-banner.jpg")
  .container
    .home__container
      h5.home__title ПОЛУЧИТЕ ПЕРСОНАЛЬНЫЙ ПРОМО-КОД, ДАЮЩИЙ<br> 50% СКИДКУ НА ЛЮБОЕ ПАЛЬТО ИЗ НОВОЙ КОЛЛЕКЦИИ ДО 26 ФЕВРАЛЯ
      .timer
        span.timer__title До конца акции осталось:
        .timer__container(data-countdown="2020/02/27")
      .home__button
        a(href="#popup1").popup_link.button_style1 ПОЛУЧИТЬ ПРОМО-КОД
          