.product.block(id='product')
  .container
    span.block__title Производство
    span.block__sub-title Технологии и экологичность
    .product__container
      .product__section
        .product__item
          .product__item-image
            img(src="img/icons/ico-1.png", alt="")
          .product__item-content
            span.product__item-title НЕМЕЦКОЕ ОБОРУДОВАНИЕ
            span.product__item-text  На нашем производстве применяется новейшее швейное и скорняжное оборудование из Германии, что гарантирует высокое качество продукции.
        .product__item
          .product__item-image
            img(src="img/icons/ico-2.png", alt="")
          .product__item-content
            span.product__item-title ИТАЛЬЯНСКИЕ ТКАНИ
            span.product__item-text  Натуральные ткани из Италии отлично сохраняют тепло и греют за счет того, что их волокна имеют внутри пустоты, в которых накапливается воздух. Это позволяет телу свободно «дышать», что очень важно для весенней одежды.
        .product__item
          .product__item-image
            img(src="img/icons/ico-3.png", alt="")
          .product__item-content
            span.product__item-title МИРОВОЙ ЭКСПОРТЕР
            span.product__item-text  На протяжении 2-х лет наша компания поставляет готовую продукцию в следующие страны: Греция, Франция, Казахстан
      .product__section
        img(data-src="img/banners/production-banner.jpg", alt="").lazy.product__image