.promo.block
  .container
    .promo__container
      .promo-title.block__title Введите Ваш номер телефона и получите персональный  промо-код, дающий 50% скидку на любое пальто из новой коллекции до 26 февраля.
      .promo__content
        img(data-src="img/banners/promo-banner.jpg", alt="").lazy
        form.promo__form
          .promo__form-group
            input(type="text" placeholder="Введите Ваше имя" required).promo__form-input
          .promo__form-group
            input(type="tel" placeholder="Введите Ваш Телефон" required).phone.promo__form-input
          .promo__form-group
            button(type='submit').promo__form-button.promo-style <span>ПОЛУЧИТЬ</span> ПРОМО-КОД НА СКИДКУ 50%


        