.reviews.block
  .container
    span.block__title Отзывы клиентов
    span.block__sub-title Мы отправили видеооператора прямо к нам в магазин, чтобы услышать мнение наших клиентов о пальто, обслуживании и атмосфере в целом!
    .reviews__container
      .reviews__block
        .reviews__block-container
          iframe.reviews__block-video(src="https://www.youtube.com/embed/2bTVnny0Zvs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="https://www.youtube.com/watch?v=2bTVnny0Zvs").popup-youtube
      .reviews__block
        .reviews__block-container
          iframe.reviews__block-video(src="https://www.youtube.com/embed/2bTVnny0Zvs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="https://www.youtube.com/watch?v=2bTVnny0Zvs").popup-youtube
      .reviews__block
        .reviews__block-container
          iframe.reviews__block-video(src="https://www.youtube.com/embed/2bTVnny0Zvs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="https://www.youtube.com/watch?v=2bTVnny0Zvs").popup-youtube
      .reviews__block
        .reviews__block-container
          iframe.reviews__block-video(src="https://www.youtube.com/embed/2bTVnny0Zvs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="https://www.youtube.com/watch?v=2bTVnny0Zvs").popup-youtube
        

