.videos.block(id='videos')
  .container
    span.block__title ПОСМОТРИТЕ ВИДЕО И ПОЗНАКОМЬТЕСЬ С НОВОЙ КОЛЛЕКЦИЕЙ ПАЛЬТО
    .videos__container
      .videos__block
        .videos__block-container
          iframe.lazy.videos__block-video(data-src="https://www.youtube.com/embed/m0Q_ShpFEVE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="https://www.youtube.com/watch?v=m0Q_ShpFEVE").popup-youtube
            img(data-src="img/icons/ico-play.png", alt="").lazy
      .videos__block
        .videos__block-container
          iframe.lazy.videos__block-video(data-src="https://www.youtube.com/embed/W87idohG3ek" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="https://www.youtube.com/watch?v=W87idohG3ek").popup-youtube
            img(data-src="img/icons/ico-play.png", alt="").lazy
      .videos__block
        .videos__block-container
          iframe.lazy.videos__block-video(data-src="https://www.youtube.com/embed/7hYujpjzIn8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="https://www.youtube.com/watch?v=7hYujpjzIn8").popup-youtube
            img(data-src="img/icons/ico-play.png", alt="").lazy
      .videos__block
        .videos__block-container
          iframe.lazy.videos__block-video(data-src="https://www.youtube.com/embed/MTesoDWWAjA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="https://www.youtube.com/watch?v=MTesoDWWAjA").popup-youtube
            img(data-src="img/icons/ico-play.png", alt="").lazy
      .videos__block
        .videos__block-container
          iframe.lazy.videos__block-video(data-src="https://www.youtube.com/embed/j2SSOd3rR6c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="https://www.youtube.com/watch?v=j2SSOd3rR6c").popup-youtube
            img(data-src="img/icons/ico-play.png", alt="").lazy
      .videos__block
        .videos__block-container
          iframe.lazy.videos__block-video(data-src="https://www.youtube.com/embed/JaoXjy5Cy7k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="https://www.youtube.com/watch?v=JaoXjy5Cy7k").popup-youtube
            img(data-src="img/icons/ico-play.png", alt="").lazy